<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Formulário</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="text-white bg-dark p-5 mb-4 rounded-3">
			<div class="container-fluid py-5">
				<h1 class="display-5 fw-bold">Novo pedido</h1>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<form action="/pedido/novo" method="POST">
					<div class="mb-3">
						<label for="" class="form-label">Produto</label> <input
							type="text" class="form-control" placeholder="Nome do produto" />
						<small class="fw-light">Informe o nome do produto.</small>
					</div>
					<div class="mb-3">
						<label for="" class="form-label">URL</label> <input type="text"
							class="form-control" placeholder="URL do produto" /> <small
							class="fw-light">Procure em um site a URL do produto
							desejado, e cole aqui.</small>
					</div>
					<div class="mb-3">
						<label for="" class="form-label">Imagem</label> <input type="text"
							class="form-control" placeholder="URL da imagem" /> <small
							class="fw-light">Copie a URL de uma imagem do produto
							desejado, e cole aqui.</small>
					</div>
					<div class="mb-3">
						<label for="" class="form-label">Descrição</label>
						<textarea class="form-control"
							placeholder="Adicione detalhes sobre o produto"></textarea>
					</div>
					<button type="submit" class="btn btn-primary">Cadastrar</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>